# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Accio dependency management
Dependencies/
.accio/

# Archives
*.xcarchive

# Simulator logs/devices (if ever exported)
CoreSimulator/

# Bundler
.bundle/

# Tuist
Tuist/Dependencies/

# Firebase/Crashlytics
**/GoogleService-Info.plist
.crashlytics/
.fabric/

# Other
*.swp
*.lock
*.zip
*.log
